.body {
  background-color: #0c1525;
 }

/* The navigation bar */
.navbar {
  overflow: hidden;
  background-image: url("imagenes/Fondoheader2.jpg");
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #59c527;
  padding: 0px 0px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar .fac:hover {
  background-color: aliceblue;
}
.navbar .you:hover {
  background-color: rgb(66, 241, 12);
}
.navbar .ins:hover {
  background-color: rgb(17, 128, 226);
}
.navbar .spo:hover {
  background-color: rgb(228, 21, 31);
  }

/* Main content */
.main {
  margin-top: 15px; /* Add a top margin to avoid content overlay */
}


 #carouselExampleFade {
    width: 100%;
    height: 100%;
 }
