body {
  background-color: #0c1525;
  height: auto;
  width: auto;
 }

/* The navigation bar */
nav {
  overflow: hidden;
  background-image: url("imagenes/Fondoheader2.jpg");
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 36px;
  z-index: 999;
}


/* Links inside the navbar */
nav a {
  float: right;
  display: block;
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
}

.arg {
  float: left;
}

/* Change background on mouse-over */
.fac :hover {
  background: url("imagenes/iconos/facebookiconcolor.png");
}
.you :hover {
  background-color: rgb(66, 241, 12);
}
.ins :hover {
  background-color: rgb(17, 128, 226);
}
.spo :hover {
  background-color: rgb(228, 21, 31);
  }

  .button {
    background-color: #1a45bd;
    border: none;
    color: white;
    padding: 2px 15px; 
    text-align: center;
    display: inline-block;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    border-radius: 8px;   
    cursor: pointer;
    float: right;    
  }

  .button1 {
    background-color: rgb(6, 100, 240); 
    color: rgb(255, 255, 255); 
    border: 2px solid #ffffff;
  }

  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }

/* Main content */
.main {
  margin-top: 15px; /* Add a top margin to avoid content overlay */
}

#carouselExampleFade {
    width: 100%;
    height: 100%;
}

.profilepic {
  position: relative;
  border-radius: 50%;
  max-width: 15%;
  max-height: 15%;
  z-index: 100;
  margin-top: -8%;
  margin-left: 1%;
  display: block;
  border: 5px solid #ffffff;
}