body {
  height: auto;
  width: auto;
 }

/* barra superior fija */
nav {
  overflow: hidden;
  background-image: url("imagenes/Fondoheader2.jpg");
  position: fixed; /* Fija la barra */
  top: 0; /* Posiciona la barra en la parte superior de la pagina */
  width: 100%; /* ocupa el ancho total de la pagina sin importar el tamaño de la ventana */
  height: 36px; /* altura fija */
  z-index: 999; /* posiciona la barra visualmente en una capa superior */
}


/* Iconos dentro de la barra superior fija */
nav a {
  float: right;
  display: block;
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  cursor: pointer;
}

.arg {
  float: left;
  margin-left: 1%;
}

/* Cambia la imagen del icono por otra a color al colocar el mouse sobre la imagen (TODAVIA NO FUNCIONA; PERO POR AHI VA) */
.fac :hover {
  background: url("imagenes/iconos/facebookiconcolor.png");
  z-index: 999;
}
.you :hover {
  background-color: rgb(66, 241, 12);
}
.ins :hover {
  background-color: rgb(17, 128, 226);
}
.spo :hover {
  background-color: rgb(228, 21, 31);
  }

/* Boton Login, cambia de color al colocar mouse encima*/
  .button {
    background-color: #1a45bd;
    border: none;
    color: white;
    padding: 2px 15px; 
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    margin: 4px 4px;
    transition-duration: 0.4s;
    border-radius: 8px;   
    cursor: pointer;
    float: right;    
  }

  .button1 {
    background-color: rgb(6, 100, 240); 
    color: rgb(255, 255, 255); 
    border: 2px solid rgb(0, 180, 216)
  }

  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }


/* Main content */
.main {
  margin-top: 15px; /* Add a top margin to avoid content overlay */
}

/* Medidas de carrousel para que ocupe toda la pantalla y varie su tamaño de acuerdo al tamaño de la ventana */
#carouselExampleFade {
    width: 100%;
    height: 100%;
}

/* Foto de perfil */
.profilepic {
  position: relative; /* Coloca la imagen sobre el resto del contenido, como flotando encima */
  border-radius: 50%; /* Hace la foto de manera circular */
  max-width: 15%; /* Reduce el ancho de la foto a un 15% del total del tamaño de la pagina */
  max-height: 15%; /* Reduce el alto de la foto a un 15% del total del tamaño de la pagina */
  z-index: 100; /* Coloca la foto en una capa superior */
  margin-top: -8%; /* Coloca la foto fuera y encima del Div que la contiene */
  margin-left: 1%; /* Despegamos del borde izquierdo */
  display: block; /* ??????? */
  border: thin /* Grueso del borde */
   solid #000000; /* Color del Borde */
}

.container {
  background-color: #CAF0F8;
  margin-left: 1%;
  margin-right: 1%;
  border-style: none none none solid;
  border-width: 10px;
  border-color: #00B4D8;
  border-radius: 10px;  
}


.persinf2 {
  background-color: #CAF0F8;
  margin-left: 1%;
  margin-right: 1%;
  border-style: none none none solid;
  border-width: 10px;
  border-color: #00B4D8;
}
